.products-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

.product-content {
    margin-bottom: 30px;
    padding: 20px 15px 20px 15px;
    letter-spacing: .01em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.product-name{
    font-size: 21px;
}
.product-name, .product-description, .product-usedMaterial, .product-price, .product-units{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 10px;
}
.product-description, .product-usedMaterial, .product-price, .product-units{
    font-size: 18px;
}

.product-image-container{
    max-height: 250px;
    max-width: 250px;
    margin: auto;
}

.product-information-column{
    padding-left: 15px;
}

@media (max-width: 768px) {
    .product-name {
        font-size: 18px;
    }
    .product-description, .product-usedMaterial, .product-price, .product-units{
        font-size: 16px;
    }
}



